.px-lg{
    padding-inline: var(--px-lg);
}

.px-md{
    padding-inline: var(--px-md);
}

.py-md{
    padding-block: var(--py-md);
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

.gap-1{
    gap: 1rem;
}

.gap-0\.5{
    gap: .5rem;
}

.gap-1\.125{
    gap: 1.125rem;
}

@media (width >= 80em){
    
}